<div class="row  justify-content-sm-center">
  <div class="col-12 ">
    <h1 class="headerTitle text-center">Add car</h1>
  </div>
  <div class="col-12 ">
    <h2 class="headerTitle text-center">2) Car documents</h2>
  </div>
</div>

<!--  <ngb-alert *ngIf="!success" (close)="close()" type="danger">There is an error!</ngb-alert>-->

<div class="row justify-content-center">
  <div class="col">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label class="form-control-label" for="field_name">Vignette</label>
        <input type="text" class="form-control" name="firstName" id="field_name"
               value="{{car.vignette}}"
               placeholder="Car's vignette"
               required
               [(ngModel)]="car.vignette"
               #brand=ngModel
               [ngClass]="{ 'is-invalid': brand.invalid && (brand.dirty || brand.touched || submitted) }"
        />
        <div
          *ngIf="brand.invalid && (brand.dirty || brand.touched || submitted)"
          class="invalid-feedback d-block">
          <span>Brand is required field.</span>
        </div>
      </div>

      <div class="form-group col-md-4">
        <label class="form-control-label" for="field_middle_name">Vignette expiration date</label>
        <input type="date" class="form-control" name="middleName" id="field_middle_name"
               value="{{car.vignetteExpiryDate}}"
               placeholder="Car's vignette expiration date"
               required
               [(ngModel)]="car.vignetteExpiryDate"
               #number=ngModel
               [ngClass]="{ 'is-invalid': number.invalid && (number.dirty || number.touched || submitted) }"
        />
        <div
          *ngIf="number.invalid && (number.dirty || number.touched || submitted)"
          class="invalid-feedback d-block">
          <span>Number is required field.</span>
        </div>
      </div>

      <div class="form-group col-md-5">
        <label class="form-control-label" for="field_last_name">Vignette additional information</label>
        <input type="text" class="form-control" name="lastName" id="field_last_name"
               placeholder="Car's additional info"
               value="{{car.vi}}"
               required
               [(ngModel)]="car.engineVolume"
               #volume=ngModel
               [ngClass]="{ 'is-invalid': volume.invalid && (volume.dirty || volume.touched || submitted) }"
        />
        <div
          *ngIf="volume.invalid && (volume.dirty || volume.touched || submitted)"
          class="invalid-feedback d-block">
          <span>Volume is required field.</span>
        </div>
      </div>
    </div>

    <div class="row m-4"></div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label class="form-control-label" for="field_name">Insurance</label>
        <input type="text" class="form-control" name="firstName" id="ins"
               value="{{car.insurance}}"
               placeholder="Car's insurance"
               required
               [(ngModel)]="car.insurance"
               #brand=ngModel
               [ngClass]="{ 'is-invalid': brand.invalid && (brand.dirty || brand.touched || submitted) }"
        />
        <div
          *ngIf="brand.invalid && (brand.dirty || brand.touched || submitted)"
          class="invalid-feedback d-block">
          <span>Brand is required field.</span>
        </div>
      </div>

      <div class="form-group col-md-4">
        <label class="form-control-label" for="field_middle_name">Insurance expiration date</label>
        <input type="date" class="form-control" name="middleName" id="field_insdate"
               value="{{car.insuranceExpiryDate}}"
               placeholder="Car's insurance expiration date"
               required
               [(ngModel)]="car.insuranceExpiryDate"
               #number=ngModel
               [ngClass]="{ 'is-invalid': number.invalid && (number.dirty || number.touched || submitted) }"
        />
        <div
          *ngIf="number.invalid && (number.dirty || number.touched || submitted)"
          class="invalid-feedback d-block">
          <span>Number is required field.</span>
        </div>
      </div>

      <div class="form-group col-md-5">
        <label class="form-control-label" for="field_last_name">Insurance additional information</label>
        <input type="text" class="form-control" name="lastName" id="field_insadd"
               placeholder="Car's additional info"
               value="{{car.insurance}}"
               required
               [(ngModel)]="car.insurance"
               #volume=ngModel
               [ngClass]="{ 'is-invalid': volume.invalid && (volume.dirty || volume.touched || submitted) }"
        />
        <div
          *ngIf="volume.invalid && (volume.dirty || volume.touched || submitted)"
          class="invalid-feedback d-block">
          <span>Volume is required field.</span>
        </div>
      </div>
    </div>

    <div class="row m-2"></div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label class="form-control-label" for="field_nam">Examine</label>
        <input type="text" class="form-control" name="firstName" id="field_nam"
               value="{{car.examination}}"
               placeholder="Car's examine"
               required
               [(ngModel)]="car.examination"
               #brand=ngModel
               [ngClass]="{ 'is-invalid': brand.invalid && (brand.dirty || brand.touched || submitted) }"
        />
        <div
          *ngIf="brand.invalid && (brand.dirty || brand.touched || submitted)"
          class="invalid-feedback d-block">
          <span>Brand is required field.</span>
        </div>
      </div>

      <div class="form-group col-md-4">
        <label class="form-control-label" for="field_middle">Examine expiration date</label>
        <input type="date" class="form-control" name="middleName" id="field_middle"
               value="{{car.examinationExpiryDate}}"
               placeholder="Car's examine expiration date"
               required
               [(ngModel)]="car.examinationExpiryDate"
               #number=ngModel
               [ngClass]="{ 'is-invalid': number.invalid && (number.dirty || number.touched || submitted) }"
        />
        <div
          *ngIf="number.invalid && (number.dirty || number.touched || submitted)"
          class="invalid-feedback d-block">
          <span>Number is required field.</span>
        </div>
      </div>

      <div class="form-group col-md-5">
        <label class="form-control-label" for="field_last_name">Examine additional information</label>
        <input type="text" class="form-control" name="lastName" id="field_exadd"
               placeholder="Car's additional info"
               value="{{car.examination}}"
               required
               [(ngModel)]="car.examination"
               #volume=ngModel
               [ngClass]="{ 'is-invalid': volume.invalid && (volume.dirty || volume.touched || submitted) }"
        />
        <div
          *ngIf="volume.invalid && (volume.dirty || volume.touched || submitted)"
          class="invalid-feedback d-block">
          <span>Volume is required field.</span>
        </div>
      </div>
    </div>

    <div class="row m-2"></div>

    <div class="row float-right">
      <button type="button" class="btn btn-primary m-2" routerLink="/hr">
        Back
      </button>
      <button type="button" class="btn btn-primary m-2" (click)="process()">Next</button>
    </div>
  </div>
</div>

