<div class=".core" xmlns="http://www.w3.org/1999/html"></div>
<h1>Core Home</h1>
<label>  something1 </label>
<input class="form-control" type="number" id="salary-input1"><br/>
<input class="form-control" type="number" id="salary-input2"><br/>
<label>  something2 </label>
<!--  <input class="form-control" type="number" id="salary-input2" [(ngModel)]="queryDto.s2"><br/>-->
<!--  <label>  something3 </label>-->
<!--  <input class="form-control" type="number" id="salary-input3" [(ngModel)]="queryDto.s3"><br/>-->
<button type="submit" class="btn btn-primary">Submit</button>
