<section class="hero d-flex align-items-center">
  <div class="container-fluid">
    <h1><span class="text-primary">Fire an employee</span></h1>
    <div class="search-bar ">
      <div class="row-cols-8 ">
        <label>
          <input class="form-control container-fluid" type="text" [formControl]="filter"
                 placeholder="Who will you fire?"/>
        </label>
      </div>
    </div>
    <table class="table table-striped mt-5" style="color: #2C93FF" *ngIf="filter.value">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">First name</th>
        <th scope="col">Middle name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of employees$ | async">
        <td>
          <ngb-highlight [result]="employee.id" [term]="filter.value"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="employee.person.firstName" [term]="filter.value"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="employee.person.middleName" [term]="filter.value"></ngb-highlight>
        </td>
        <td>
          <ngb-highlight [result]="employee.person.lastName" [term]="filter.value"></ngb-highlight>
        </td>
        <td>
          <a rel="tooltip" title="Fire" class="btn btn-danger btn-round btn-just-icon btn-sm" (click)="open(employee)">
            <i class="material-icons">fire</i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>

