<div class="modal-header" xmlns="http://www.w3.org/1999/html">
  <h4 class="modal-title" id="modal-title">Fire employee</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p><strong>Are you sure you want to delete
    <span class="text-warning">{{ppe.type}} + " " + {{ppe.material?.incomeInvoiceNumber}}
    </span>?
  </strong></p>
  <p>All information associated to this ppe's profile will be saved.</p>
  <span class="text-danger">This operation can not be undone!</span>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
  <button type="button" class="btn btn-outline-danger" (click)="delete(ppe.id) && modal.close('Ok click') ">Delete</button>
</div>
