  <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">

<div class="container-fluid">
  <!-- All materials view - button -->
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-2">
      <a href="/warehouse/ppe/archive" (click)="data()" class="link">
        <div class="button mt-2 mb-2">
          <p class="btnText">Archive</p>
          <div class="btnTwo">
            <p class="btnText2"><img src="/assets/archive.png" alt="archive"></p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <!-- Closing all materials view - button -->

  <!-- Title of the page -->
  <div class="row" id="titleContainer">
    <div class="col-sm-12">
      <div class="title text-center mt-2 mb-2">
        <h3 class="titleDecoration">List of ppes</h3>
      </div>
    </div>
  </div>
  <!-- Closing title of the page -->

  <div class="row">
    <div class="table-responsive m-3">
      <table class="table table-hover table-striped">
        <thead class="bg-warning text-danger text-center">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Measurement</th>
          <th>Type</th>
          <th>Size</th>
          <th>Quantity</th>
          <th>Single material's price</th>
          <th>Invoice number</th>
          <th>Delivery company</th>
          <th>Date</th>
          <th>Archive</th>
        </tr>
        </thead>
        <tbody class="bg-light text-center">
        <tr *ngFor="let ppe of ppes; let i = index" [attr.data-index]="0">
          <td> {{ppe.id}} </td>
          <td> {{ppe.type}} </td>
          <td> {{ppe.material.measurement}} </td>
          <td> {{ppe.material.type}} </td>
          <td> {{ppe.size}} </td>
          <td> {{ppe.material.quantity}} </td>
          <td> {{ppe.material.singlePrice}} </td>
          <td> {{ppe.material.incomeInvoiceNumber}} </td>
          <td> {{ppe.material.delivery}} </td>
          <td> {{ppe.material.date}} </td>
          <td class="td-actions">&nbsp;
            <a rel="tooltip" title="Fire" class="btn btn-danger btn-round btn-just-icon btn-sm"   (click)="open(ppe)">
              <i class="material-icons">close</i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
