<ul ngbNav #nav="ngbNav" class="nav-tabs  justify-content-center m-3">
  <li [ngbNavItem]="1">
    <a ngbNavLink>List of the cars</a>
    <ng-template ngbNavContent>
      <app-car-list></app-car-list>
      <car-archive *ngIf="dataService.number == 4"></car-archive>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>Add new car</a>
    <ng-template ngbNavContent>
      <app-add-car-info *ngIf="dataService.number == 1"></app-add-car-info>
      <app-add-car-documents *ngIf="dataService.number == 2"></app-add-car-documents>
      <app-add-car-materials *ngIf="dataService.number == 3"></app-add-car-materials>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <a ngbNavLink>Report form for the cars</a>
    <ng-template ngbNavContent>
      <app-car-report></app-car-report>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav" class="mt-2"></div>
