<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
  <title>Human Resources</title>
</head>

<body>
<div class="container-fluid">

  <!--Hire person card -->
  <div class="row">
    <div class="container py-3">
      <div class="card text-white bg-info mb-3 p-3">
        <div class="row">
          <div class="col-md-4">
            <img src="assets/car.png" class="cardImg img-fluid">
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <h4 class="card-title">Cars</h4>
              <p class="card-text">Here you can manage the cars.</p>
              <p class="card-text">You will be navigated to a module with inputs about the cars, list of all of them and etc. .</p>
              <a href="/hr/hire" class="btn btn-outline-light mt-5" id="hireBtn">Cars</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!--Closing hire person card -->

  <!--Fire person card -->
  <div class="row">
    <div class="container py-3">
      <div class="card text-white bg-info mb-3 p-3">
        <div class="row">
          <div class="col-md-4">
            <img src="assets/welding.png" class="cardImg img-fluid">
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <h4 class="card-title">Materials</h4>
              <p class="card-text">Here you can manage the materials.</p>
              <p class="card-text">You will be navigated to a module with inputs about the materials, list of all of them and etc.</p>
              <a href="/hr/fire" class="btn btn-outline-light mt-5" id="fireBtn">Materials</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!--Closing fire person card -->

  <!-- All employees card -->
  <div class="row">
    <div class="container py-3">
      <div class="card text-white bg-secondary mb-3 p-3">
        <div class="row">
          <div class="col-md-4">
            <img src="assets/ppe.png" class="cardImg img-fluid">
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <h4 class="card-title">Personal protective equipment</h4>
              <p class="card-text">Here you can manage the ppe.</p>
              <p class="card-text">You will be navigated to a module with inputs about the ppe, list of all of them and etc.</p>
              <a href="hr/list" class="btn btn-outline-light mt-5" id="employeeBtn">PPE</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!--Closing all employees card -->

  <!--Salaries card -->
  <div class="row">
    <div class="container py-3">
      <div class="card text-white bg-secondary mb-3 p-3">
        <div class="row">
          <div class="col-md-4">
            <img src="assets/strategy.png" class="cardImg img-fluid">
          </div>
          <div class="col-md-8 px-3">
            <div class="card-block px-3">
              <h4 class="card-title">Projects management</h4>
              <p class="card-text">Here you have fast access to the projects.</p>
              <p class="card-text"></p>
              <a href="/hr/salary" class="btn btn-outline-light mt-5" id="salariesBtn">Projects</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Closing salaries card -->
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>
