<div class="container-fluid ">

  <div class="row  justify-content-sm-center">
    <div class="col-12 ">
      <h1 class="headerTitle text-center">Hire Employee</h1>
    </div>
    <div class="col-12 ">
      <h2 class="headerTitle text-center">4) Files</h2>
    </div>
  </div>


  <ngb-alert *ngIf="!success" (close)="close()" type="danger">There is an error!</ngb-alert>


  <div class="row justify-content-center">
    <div class="col-md-8">
      <div style="text-align:center; margin-top: 100px; ">
        <div class="row">
          <div class="col-md-4">
            <div *ngIf="currentFile" class="progress">
              <div
                class="progress-bar progress-bar-info progress-bar-striped"
                role="progressbar"
                attr.aria-valuenow="{{ progress }}"
                aria-valuemin="0"
                aria-valuemax="100"
                [ngStyle]="{ width: progress + '%' }">
                {{ progress }}%
              </div>
            </div>
            <label class="btn btn-default"> Избери файл
              <input type="file" (change)="selectFile($event)"/>
            </label>
            <form [formGroup]="form" (ngSubmit)="upload()">

              <label for="type">Type</label>
              <select formControlName="type" id="type">
                <option *ngFor="let order of documentTypes; let i = index" [value]="documentTypes[i]">
                  {{order}}
                </option>
              </select>

              <br><br>
            </form>
            <button class="btn btn-dark" [disabled]="!selectedFiles" (click)="upload()">
              Качи
            </button>
            <ngb-alert type="danger" *ngIf="message">{{ message }}</ngb-alert>
          </div>
        </div>
        <div class="row m-4"></div>

        <div class="card">
          <div class="card-header">List of Files</div>
          <ul
            class="list-group list-group-flush"
            *ngFor="let file of fileInfos"
          >
            <li class="list-group-item">
              <input type="button" (click)="download(file.fileDownloadUri, file.fileName)" value="{{ file.fileName }}"/>
            </li>
          </ul>
        </div>

        <div class="row float-right">
          <button type="button" class="btn btn-primary m-2" routerLink="/hr/employee-details">
            Back
          </button>
          <button type="button" class="btn btn-primary m-2" routerLink="/hr/profile/{{employee!.id}}" (click)="finish()">
            Finish
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
