<div class="row  justify-content-sm-center">
  <div class="col-12 ">
    <h1 class="headerTitle text-center">Add project</h1>
  </div>
</div>

<ngb-alert *ngIf="!success" (close)="close()" type="danger">There is an error!</ngb-alert>

<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="name" class="col-12 col-form-label">Name</label>
        <div class="col-12">
          <input id="name" multiple class="form-control" [(ngModel)]="project.name">
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="employee" class="col-12 col-form-label">People</label>
        <div class="col-12">
          <select id="employee" multiple class="form-control" [(ngModel)]="selectedEmployees">
            <option *ngFor="let employee of employees"
                    [value]="employee.id">{{employee.person.firstName + " " + employee.person.lastName}}</option>
          </select>
        </div>
      </div>


      <div class="form-group col-md-6">
        <label for="car" class="col-12 col-form-label">Cars</label>
        <div class="col-12">
          <select id="car" multiple class="form-control" [(ngModel)]="selectedCars">
            <option *ngFor="let car of cars"
                    [value]="car.id">{{car.brand + " " + car.number}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row m-4"></div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="company" class="col-12 col-form-label">Company</label>
        <div class="col-12">
          <select id="company" class="form-control" [(ngModel)]="company">
            <option *ngFor="let company of companies"
                    [value]="company.id">{{company.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="materials" class="col-12 col-form-label">Material</label>
        <div class="col-12">
          <select id="materials" multiple class="form-control" [(ngModel)]="selectedMaterials">
            <option *ngFor="let material of materials"
                    [value]="material.id">{{material.type + " " + material.incomeInvoiceNumber}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row m-2"></div>

    <div class="row float-right">
      <button type="button" class="btn btn-primary m-2" routerLink="/warehouse">
        Back
      </button>
      <button type="button" class="btn btn-primary m-2" (click)="process()">Save</button>
    </div>
  </div>
</div>
